<section class="about-me-section container" id="about">
  <!-- прихований заголовок -->
  <h1 class="visually-hidden">ABOUT ME</h1>

  <!-- контент-блок -->

  <div class="content-box">
    <div class="content-text">
      <div class="intro-box">
        <p class="intro-text">
          I work with people all over the world to create impressive and
          <span class="orange-word">functional</span>
          <span class="gray-word">websites</span> that reflect each client's
          unique personality.
        </p>
      </div>

      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/about/about-desk@1x.jpg 1x,
            ./img/about/about-desk@2x.jpg 2x
          "
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./img/about/about-tab@1x.jpg 1x,
            ./img/about/about-tab@2x.jpg 2x
          "
        />

        <source
          media="(max-width: 767px)"
          srcset="
            ./img/about/about-mob@1x.jpg 1x,
            ./img/about/about-mob@2x.jpg 2x
          "
        />

        <!-- за замовчуванням -->
        <img
          class="about-img"
          src="./img/about/about-desk@1x.jpg"
          alt="Portrait of Lloyd Jefferson working on a laptop"
          width="680"
        />
      </picture>
    </div>
  </div>

  <!-- Accordion для опису -->

  <div class="accordion">
    <div class="accordion-box">
      <div class="ac-title-about">
        <h3>ABOUT ME</h3>

        <!-- <button class="btn-ac-about"></button> -->
      </div>
      <div>
        <ul>
          <li>
            <p class="accordion-text-line open">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages and technologies, always ready to
              improve my skills. I always follow the latest trends and look for
              unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way. Able to work both
              independently and in a team.
            </p>
          </li>
          <li>
            <p class="accordion-text-line">
              I can effectively cooperate with colleagues, exchanging ideas and
              finding optimal solutions. Professional maturity allows you to
              calmly cope with challenges and stressful situations, while
              maintaining a high quality of work. I am always looking for
              opportunities for self-improvement. I actively study new
              technologies and practices to stay abreast of the latest
              innovations. I have a strong understanding of various programming
              languages, frameworks and architectural concepts that allow me to
              create efficient and scalable software.
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div class="accordion-box">
      <div class="ac-title-about">
        <h3>ROLE</h3>
        <!-- <button class="btn-ac-about"></button> -->
      </div>
      <div>
        <ul>
          <li><p class="accordion-text-line">Frontend development</p></li>
          <li><p class="accordion-text-line">HeadlessCMS,Wordpress</p></li>
          <li><p class="accordion-text-line">Blender(enjoy)</p></li>
        </ul>
      </div>
    </div>

    <div class="accordion-box">
      <div class="ac-title-about">
        <h3>EDUCATION</h3>
        <!-- <button class="btn-ac-about"></button> -->
      </div>
      <div>
        <ul>
          <li>
            <p class="accordion-text-line">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </p>
          </li>
          <li>
            <p class="accordion-text-line">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </p>
          </li>
          <li>
            <p class="accordion-text-line">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
