<section class="covers-section" id="covers">
  <div class="covers-container">
    <h2 class="visually-hidden">Covers</h2>
    <ul class="marquee__inner">
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-1@1x.jpg 1x,
              ./img/covers/desk/covers-desk-1@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-1-tab@1x.jpg 1x,
              ./img/covers/tab/covers-1-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-1-mob@1x.jpg 1x,
              ./img/covers/mob/covers-1-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-1-mob@1x.jpg"
            alt="project-1"
            width="282"
            height="162"
          />
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-2@1x.jpg 1x,
              ./img/covers/desk/covers-desk-2@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-2-tab@1x.jpg 1x,
              ./img/covers/tab/covers-2-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-2-mob@1x.jpg 1x,
              ./img/covers/mob/covers-2-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-2-mob@1x.jpg"
            alt="project-2"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-3@1x.jpg 1x,
              ./img/covers/desk/covers-desk-3@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-3-tab@1x.jpg 1x,
              ./img/covers/tab/covers-3-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-3-mob@1x.jpg 1x,
              ./img/covers/mob/covers-3-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-3-mob@1x.jpg"
            alt="project-3"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-4@1x.jpg 1x,
              ./img/covers/desk/covers-desk-4@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-4-tab@1x.jpg 1x,
              ./img/covers/tab/covers-4-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-4-mob@1x.jpg 1x,
              ./img/covers/mob/covers-4-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-4-mob@1x.jpg"
            alt="project-4"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-5@1x.jpg 1x,
              ./img/covers/desk/covers-desk-5@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-5-tab@1x.jpg 1x,
              ./img/covers/tab/covers-5-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers10-mob@1x.jpg  1x,
              ./img/covers/mob/covers-10-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers10-mob@1x.jpg"
            alt="project-5"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-6@1x.jpg 1x,
              ./img/covers/desk/covers-desk-6@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-6-tab@1x.jpg 1x,
              ./img/covers/tab/covers-6-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-6-mob@1x.jpg 1x,
              ./img/covers/mob/covers-6-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-6-mob@1x.jpg"
            alt="project-6"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-7@1x.jpg 1x,
              ./img/covers/desk/covers-desk-7@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-7-tab@1x.jpg 1x,
              ./img/covers/tab/covers-7-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-7-mob@1x.jpg 1x,
              ./img/covers/mob/covers-7-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-7-mob@1x.jpg"
            alt="project-7"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-8@1x.jpg 1x,
              ./img/covers/desk/covers-desk-8@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-8-tab@1x.jpg 1x,
              ./img/covers/tab/covers-8-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-8-mob@1x.jpg 1x,
              ./img/covers/mob/covers-8-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-8-mob@1x.jpg"
            alt="project-8"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-9@1x.jpg 1x,
              ./img/covers/desk/covers-desk-9@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-9-tab@1x.jpg 1x,
              ./img/covers/tab/covers-9-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-9-mob@1x.jpg 1x,
              ./img/covers/mob/covers-9-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-9-mob@1x.jpg"
            alt="project-9"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-10@1x.jpg 1x,
              ./img/covers/desk/covers-desk-10@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-10-tab@1x.jpg 1x,
              ./img/covers/tab/covers-10-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers10-mob@1x.jpg  1x,
              ./img/covers/mob/covers-10-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers10-mob@1x.jpg"
            alt="project-10"
            width="282"
            height="162"
          />
        </picture>
      </li>
    </ul>
    <ul class="marquee__inner">
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-1@1x.jpg 1x,
              ./img/covers/desk/covers-desk-1@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-1-tab@1x.jpg 1x,
              ./img/covers/tab/covers-1-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-1-mob@1x.jpg 1x,
              ./img/covers/mob/covers-1-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-1-mob@1x.jpg"
            alt="project-1"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-2@1x.jpg 1x,
              ./img/covers/desk/covers-desk-2@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-2-tab@1x.jpg 1x,
              ./img/covers/tab/covers-2-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-2-mob@1x.jpg 1x,
              ./img/covers/mob/covers-2-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-2-mob@1x.jpg"
            alt="project-2"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-3@1x.jpg 1x,
              ./img/covers/desk/covers-desk-3@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-3-tab@1x.jpg 1x,
              ./img/covers/tab/covers-3-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-3-mob@1x.jpg 1x,
              ./img/covers/mob/covers-3-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-3-mob@1x.jpg"
            alt="project-3"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-4@1x.jpg 1x,
              ./img/covers/desk/covers-desk-4@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-4-tab@1x.jpg 1x,
              ./img/covers/tab/covers-4-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-4-mob@1x.jpg 1x,
              ./img/covers/mob/covers-4-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-4-mob@1x.jpg"
            alt="project-4"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-5@1x.jpg 1x,
              ./img/covers/desk/covers-desk-5@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-5-tab@1x.jpg 1x,
              ./img/covers/tab/covers-5-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers10-mob@1x.jpg  1x,
              ./img/covers/mob/covers-10-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers10-mob@1x.jpg"
            alt="project-5"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-6@1x.jpg 1x,
              ./img/covers/desk/covers-desk-6@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-6-tab@1x.jpg 1x,
              ./img/covers/tab/covers-6-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-6-mob@1x.jpg 1x,
              ./img/covers/mob/covers-6-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-6-mob@1x.jpg"
            alt="project-6"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-7@1x.jpg 1x,
              ./img/covers/desk/covers-desk-7@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-7-tab@1x.jpg 1x,
              ./img/covers/tab/covers-7-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-7-mob@1x.jpg 1x,
              ./img/covers/mob/covers-7-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-7-mob@1x.jpg"
            alt="project-7"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-8@1x.jpg 1x,
              ./img/covers/desk/covers-desk-8@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-8-tab@1x.jpg 1x,
              ./img/covers/tab/covers-8-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-8-mob@1x.jpg 1x,
              ./img/covers/mob/covers-8-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-8-mob@1x.jpg"
            alt="project-8"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-9@1x.jpg 1x,
              ./img/covers/desk/covers-desk-9@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-9-tab@1x.jpg 1x,
              ./img/covers/tab/covers-9-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-9-mob@1x.jpg 1x,
              ./img/covers/mob/covers-9-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-9-mob@1x.jpg"
            alt="project-9"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-10@1x.jpg 1x,
              ./img/covers/desk/covers-desk-10@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-10-tab@1x.jpg 1x,
              ./img/covers/tab/covers-10-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers10-mob@1x.jpg  1x,
              ./img/covers/mob/covers-10-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers10-mob@1x.jpg"
            alt="project-10"
            width="282"
            height="162"
          />
        </picture>
      </li>
    </ul>
    <ul class="marquee__inner">
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-1@1x.jpg 1x,
              ./img/covers/desk/covers-desk-1@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-1-tab@1x.jpg 1x,
              ./img/covers/tab/covers-1-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-1-mob@1x.jpg 1x,
              ./img/covers/mob/covers-1-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-1-mob@1x.jpg"
            alt="project-1"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-2@1x.jpg 1x,
              ./img/covers/desk/covers-desk-2@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-2-tab@1x.jpg 1x,
              ./img/covers/tab/covers-2-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-2-mob@1x.jpg 1x,
              ./img/covers/mob/covers-2-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-2-mob@1x.jpg"
            alt="project-2"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-3@1x.jpg 1x,
              ./img/covers/desk/covers-desk-3@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-3-tab@1x.jpg 1x,
              ./img/covers/tab/covers-3-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-3-mob@1x.jpg 1x,
              ./img/covers/mob/covers-3-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-3-mob@1x.jpg"
            alt="project-3"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-4@1x.jpg 1x,
              ./img/covers/desk/covers-desk-4@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-4-tab@1x.jpg 1x,
              ./img/covers/tab/covers-4-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-4-mob@1x.jpg 1x,
              ./img/covers/mob/covers-4-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-4-mob@1x.jpg"
            alt="project-4"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-5@1x.jpg 1x,
              ./img/covers/desk/covers-desk-5@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-5-tab@1x.jpg 1x,
              ./img/covers/tab/covers-5-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers10-mob@1x.jpg  1x,
              ./img/covers/mob/covers-10-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers10-mob@1x.jpg"
            alt="project-5"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-6@1x.jpg 1x,
              ./img/covers/desk/covers-desk-6@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-6-tab@1x.jpg 1x,
              ./img/covers/tab/covers-6-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-6-mob@1x.jpg 1x,
              ./img/covers/mob/covers-6-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-6-mob@1x.jpg"
            alt="project-6"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-7@1x.jpg 1x,
              ./img/covers/desk/covers-desk-7@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-7-tab@1x.jpg 1x,
              ./img/covers/tab/covers-7-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-7-mob@1x.jpg 1x,
              ./img/covers/mob/covers-7-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-7-mob@1x.jpg"
            alt="project-7"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-8@1x.jpg 1x,
              ./img/covers/desk/covers-desk-8@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-8-tab@1x.jpg 1x,
              ./img/covers/tab/covers-8-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-8-mob@1x.jpg 1x,
              ./img/covers/mob/covers-8-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-8-mob@1x.jpg"
            alt="project-8"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-9@1x.jpg 1x,
              ./img/covers/desk/covers-desk-9@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-9-tab@1x.jpg 1x,
              ./img/covers/tab/covers-9-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-9-mob@1x.jpg 1x,
              ./img/covers/mob/covers-9-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-9-mob@1x.jpg"
            alt="project-9"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-10@1x.jpg 1x,
              ./img/covers/desk/covers-desk-10@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-10-tab@1x.jpg 1x,
              ./img/covers/tab/covers-10-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers10-mob@1x.jpg  1x,
              ./img/covers/mob/covers-10-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers10-mob@1x.jpg"
            alt="project-10"
            width="282"
            height="162"
          />
        </picture>
      </li>
    </ul>
    <ul class="marquee__inner">
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-1@1x.jpg 1x,
              ./img/covers/desk/covers-desk-1@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-1-tab@1x.jpg 1x,
              ./img/covers/tab/covers-1-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-1-mob@1x.jpg 1x,
              ./img/covers/mob/covers-1-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-1-mob@1x.jpg"
            alt="project-1"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-2@1x.jpg 1x,
              ./img/covers/desk/covers-desk-2@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-2-tab@1x.jpg 1x,
              ./img/covers/tab/covers-2-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-2-mob@1x.jpg 1x,
              ./img/covers/mob/covers-2-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-2-mob@1x.jpg"
            alt="project-2"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-3@1x.jpg 1x,
              ./img/covers/desk/covers-desk-3@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-3-tab@1x.jpg 1x,
              ./img/covers/tab/covers-3-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-3-mob@1x.jpg 1x,
              ./img/covers/mob/covers-3-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-3-mob@1x.jpg"
            alt="project-3"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-4@1x.jpg 1x,
              ./img/covers/desk/covers-desk-4@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-4-tab@1x.jpg 1x,
              ./img/covers/tab/covers-4-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-4-mob@1x.jpg 1x,
              ./img/covers/mob/covers-4-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-4-mob@1x.jpg"
            alt="project-4"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-5@1x.jpg 1x,
              ./img/covers/desk/covers-desk-5@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-5-tab@1x.jpg 1x,
              ./img/covers/tab/covers-5-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers10-mob@1x.jpg  1x,
              ./img/covers/mob/covers-10-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers10-mob@1x.jpg"
            alt="project-5"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-6@1x.jpg 1x,
              ./img/covers/desk/covers-desk-6@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-6-tab@1x.jpg 1x,
              ./img/covers/tab/covers-6-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-6-mob@1x.jpg 1x,
              ./img/covers/mob/covers-6-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-6-mob@1x.jpg"
            alt="project-6"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-7@1x.jpg 1x,
              ./img/covers/desk/covers-desk-7@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-7-tab@1x.jpg 1x,
              ./img/covers/tab/covers-7-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-7-mob@1x.jpg 1x,
              ./img/covers/mob/covers-7-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-7-mob@1x.jpg"
            alt="project-7"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-8@1x.jpg 1x,
              ./img/covers/desk/covers-desk-8@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-8-tab@1x.jpg 1x,
              ./img/covers/tab/covers-8-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-8-mob@1x.jpg 1x,
              ./img/covers/mob/covers-8-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-8-mob@1x.jpg"
            alt="project-8"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-9@1x.jpg 1x,
              ./img/covers/desk/covers-desk-9@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-9-tab@1x.jpg 1x,
              ./img/covers/tab/covers-9-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-9-mob@1x.jpg 1x,
              ./img/covers/mob/covers-9-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-9-mob@1x.jpg"
            alt="project-9"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-10@1x.jpg 1x,
              ./img/covers/desk/covers-desk-10@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-10-tab@1x.jpg 1x,
              ./img/covers/tab/covers-10-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers10-mob@1x.jpg  1x,
              ./img/covers/mob/covers-10-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers10-mob@1x.jpg"
            alt="project-10"
            width="282"
            height="162"
          />
        </picture>
      </li>
    </ul>
    <ul class="marquee__inner">
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-1@1x.jpg 1x,
              ./img/covers/desk/covers-desk-1@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-1-tab@1x.jpg 1x,
              ./img/covers/tab/covers-1-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-1-mob@1x.jpg 1x,
              ./img/covers/mob/covers-1-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-1-mob@1x.jpg"
            alt="project-1"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-2@1x.jpg 1x,
              ./img/covers/desk/covers-desk-2@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-2-tab@1x.jpg 1x,
              ./img/covers/tab/covers-2-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-2-mob@1x.jpg 1x,
              ./img/covers/mob/covers-2-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-2-mob@1x.jpg"
            alt="project-2"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-3@1x.jpg 1x,
              ./img/covers/desk/covers-desk-3@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-3-tab@1x.jpg 1x,
              ./img/covers/tab/covers-3-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-3-mob@1x.jpg 1x,
              ./img/covers/mob/covers-3-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-3-mob@1x.jpg"
            alt="project-3"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-4@1x.jpg 1x,
              ./img/covers/desk/covers-desk-4@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-4-tab@1x.jpg 1x,
              ./img/covers/tab/covers-4-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-4-mob@1x.jpg 1x,
              ./img/covers/mob/covers-4-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-4-mob@1x.jpg"
            alt="project-4"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-5@1x.jpg 1x,
              ./img/covers/desk/covers-desk-5@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-5-tab@1x.jpg 1x,
              ./img/covers/tab/covers-5-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers10-mob@1x.jpg  1x,
              ./img/covers/mob/covers-10-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers10-mob@1x.jpg"
            alt="project-5"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-6@1x.jpg 1x,
              ./img/covers/desk/covers-desk-6@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-6-tab@1x.jpg 1x,
              ./img/covers/tab/covers-6-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-6-mob@1x.jpg 1x,
              ./img/covers/mob/covers-6-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-6-mob@1x.jpg"
            alt="project-6"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-7@1x.jpg 1x,
              ./img/covers/desk/covers-desk-7@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-7-tab@1x.jpg 1x,
              ./img/covers/tab/covers-7-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-7-mob@1x.jpg 1x,
              ./img/covers/mob/covers-7-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-7-mob@1x.jpg"
            alt="project-7"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-8@1x.jpg 1x,
              ./img/covers/desk/covers-desk-8@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-8-tab@1x.jpg 1x,
              ./img/covers/tab/covers-8-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-8-mob@1x.jpg 1x,
              ./img/covers/mob/covers-8-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-8-mob@1x.jpg"
            alt="project-8"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-9@1x.jpg 1x,
              ./img/covers/desk/covers-desk-9@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-9-tab@1x.jpg 1x,
              ./img/covers/tab/covers-9-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers-9-mob@1x.jpg 1x,
              ./img/covers/mob/covers-9-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers-9-mob@1x.jpg"
            alt="project-9"
            width="282"
            height="162"
          />
        </picture>
      </li>
      <li class="marquee__line">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/covers/desk/covers-desk-10@1x.jpg 1x,
              ./img/covers/desk/covers-desk-10@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/covers/tab/covers-10-tab@1x.jpg 1x,
              ./img/covers/tab/covers-10-tab@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/covers/mob/covers10-mob@1x.jpg  1x,
              ./img/covers/mob/covers-10-mob@2x.jpg 2x
            "
          />
          <img
            class="covers-small-img"
            src="./img/covers/mob/covers10-mob@1x.jpg"
            alt="project-10"
            width="282"
            height="162"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
