<header class="header-page">
  <div class="container header-container">
    <nav class="nav-top">
      <div></div>
      <a class="logo-header" href="/">
        <img
          srcset="./img/header/header@1x.png 1x, ./img/header/header@2x.png 2x"
          src="./img/header/header@1x.png"
          alt="men"
          width="80"
          height="80"
        />
        <svg class="logo-icon" width="84" height="19">
          <use class="icon-l" href="./img/icons.svg#jefferson_"></use>
        </svg>
      </a>
    </nav>
    <p class="text-header">Menu</p>
    <button type="button" class="button-header">Order the project</button>
  </div>
</header>
