<header>
  <div class="container header-container">
    <nav class="nav-top">
      <a class="logo-header" href="/">
        <img
          srcset="./img/header/header@1x.png 1x, ./img/header/header@2x.png 2x"
          src="./img/header/header@1x.png"
          alt="men"
          width="80"
          height="80"
        />
        <svg class="logo-icon" width="84" height="19">
          <use class="icon-l" href="./img/icons.svg#jefferson"></use>
        </svg>
      </a>
    </nav>
    <div class="menu-content">
      <div class="menu-header">Menu</div>
      <ul class="menu-list">
        <li class="link-desk">
          <a href="#about" class="link-menu">About me</a>
        </li>
        <li class="link-desk">
          <a href="#benefits" class="link-menu">Benefits</a>
        </li>
        <li class="link-desk">
          <a href="#projects" class="link-menu">Projects</a>
        </li>
        <li class="link-desk"><a href="#faq" class="link-menu">FAQ</a></li>
      </ul>
    </div>
    <div class="link-button">
      <button type="button" class="button-header">
        <a href="#footer" class="text-btn">Order the project</a>
      </button>
    </div>
    <div class="burger-menu">
      <button class="burger-btn">
        <svg class="menu-logo" width="28" height="28">
          <use class="icon-burger" href="./img/icons.svg#menu"></use>
        </svg>
        <!-- <div class="mobile-menu">
          <div class="container mobile-menu-container">
            <button class="mobile-menu-close">
              <svg class="close-menu" width="28" height="28">
                <use class="icon-close" href="./img/icons.svg#close"></use>
              </svg>
            </button>
            <nav>
              <ul class="menu-list-mobile">
                <li class="link-mobile">
                  <a href="#about" class="link-menu-mobile">About me</a>
                </li>
                <li class="link-mobile">
                  <a href="#benefits" class="link-menu-mobile">Benefits</a>
                </li>
                <li class="link-mobile">
                  <a href="#projects" class="link-menu-mobile">Projects</a>
                </li>
                <li class="link-mobile">
                  <a href="#faq" class="link-menu-mobile">FAQ</a>
                </li>
              </ul>
            </nav>
            <button type="button" class="button-header-mobile">
              <a href="#footer" class="text-btn-mob">Order the project</a>
            </button>
          </div>
        </div>
      </button>
    </div>
  </div> -->
</header>
