<header>
  <div class="container header-container">
    <nav class="nav-top">
      <a class="logo-header" href="/">
        <img
          srcset="./img/header/header@1x.png 1x, ./img/header/header@2x.png 2x"
          src="./img/header/header@1x.png"
          alt="men"
          width="80"
          height="80"
        />
        <svg class="logo-icon" width="84" height="19">
          <use class="icon-l" href="./img/icons.svg#jefferson_"></use>
        </svg>
      </a>
    </nav>
    <div class="menu-content">
      <div class="menu-header">Menu</div>
      <ul class="menu-list">
        <li><a href="#about" class="link-menu">About me</a></li>
        <li><a href="#benefits" class="link-menu">Benefits</a></li>
        <li><a href="#projects" class="link-menu">Projects</a></li>
        <li><a href="#FAQ" class="link-menu">FAQ</a></li>
      </ul>
    </div>
    <div>
      <button type="button" class="button-header">
        <a href="#footer" class="text-btn">Order the project</a>
      </button>
    </div>
  </div>
</header>
