<section class="projects-section container">
  <h3 class="section-name">PROJECTS</h3>
  <div class="info-image-container">
    <div class="project-info">
      <ul class="program-list">
        <li class="program-list-item">#react</li>
        <li class="program-list-item">#js</li>
        <li class="program-list-item">#node js</li>
        <li class="program-list-item">#git</li>
      </ul>
      <h2 class="project-title">
        Programming Across Borders: Ideas, Technologies, Innovations
      </h2>
      <button type="button" class="see-project-btn">See project</button>
    </div>
    <div class="project-image"></div>
  </div>
  <div class="swipe-projects">
    <button class="swipe-btn"></button>
    <button class="swipe-btn"></button>
  </div>
</section>
