<section class="project-section container" id="projects">
  <h3 class="projects-title">PROJECTS</h3>
  <div class="swiper-projects">
    <div class="swiper-wrapper">
      <div class="swiper-slide-projects">
        <div class="projects-wrapper">
          <div class="projects-info">
            <ul class="program-list">
              <li class="program-list-item">#react</li>
              <li class="program-list-item">#js</li>
              <li class="program-list-item">#node js</li>
              <li class="program-list-item">#git</li>
            </ul>
            <h2 class="project-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h2>
            <a
              href="https://github.com/marina-sevostian/orange-studio"
              class="see-project-btn"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-image">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/projects/project-1@1x.jpg 1x,
                  ./img/projects/project-1@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/projects/project-1@1x.jpg 1x,
                  ./img/projects/project-1@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/projects/project-1-mob@1x.jpg 1x,
                  ./img/projects/project-1-mob@2x.jpg 2x
                "
              />
              <img
                src="./img/projects/project-1@1x.jpg"
                alt="project"
                width="614"
                height="385"
              />
            </picture>
          </div>
        </div>
      </div>
      <!-- Сomment -->
      <!-- <div class="swiper-slide-projects">
        <div class="projects-wrapper">
          <div class="projects-info">
            <ul class="program-list">
              <li class="program-list-item">#react</li>
              <li class="program-list-item">#js</li>
              <li class="program-list-item">#node js</li>
              <li class="program-list-item">#git</li>
            </ul>
            <h2 class="project-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h2>
            <a
              href="https://github.com/marina-sevostian/orange-studio"
              class="see-project-btn"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-image">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/projects/project-2@1x.jpg 1x,
                  ./img/projects/project-2@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/projects/project-2@1x.jpg 1x,
                  ./img/projects/project-2@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/projects/project-2-mob@1x.jpg 1x,
                  ./img/projects/project-2-mob@2x.jpg 2x
                "
              />
              <img
                src="./img/projects/project-2@1x.jpg"
                alt="project"
                width="614"
                height="385"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-slide-projects">
        <div class="projects-wrapper">
          <div class="projects-info">
            <ul class="program-list">
              <li class="program-list-item">#react</li>
              <li class="program-list-item">#js</li>
              <li class="program-list-item">#node js</li>
              <li class="program-list-item">#git</li>
            </ul>
            <h2 class="project-title">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h2>
            <a
              href="https://github.com/marina-sevostian/orange-studio"
              class="see-project-btn"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-image">
            <picture>
              <source
                media="(min-width: 1440px)"
                srcset="
                  ./img/projects/project-3@1x.jpg 1x,
                  ./img/projects/project-3@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/projects/project-3@1x.jpg 1x,
                  ./img/projects/project-3@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/projects/project-3-mob@1x.jpg 1x,
                  ./img/projects/project-3-mob@2x.jpg 2x
                "
              />
              <img
                src="./img/projects/project-3@1x.jpg"
                alt="project"
                width="614"
                height="385"
              />
            </picture>
          </div>
        </div>
      </div> -->
      <!-- Comment -->
    </div>
    <div class="projects-buttons">
      <div class="button-prev disabled-button">
        <svg class="projects-arrow-left" width="32" height="32">
          <use href="./img/icons.svg#arrow-left"></use>
        </svg>
      </div>
      <div class="button-next">
        <svg class="projects-arrow-right" width="32" height="32">
          <use href="./img/icons.svg#arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
