<section class="reviews-section">
  <div class="container reviews-container">
    <h2 class="title-reviews">Reviews</h2>
    <div class="reviews-block swiper">
      <ul class="reviews-list swiper-wrapper"></ul>
      <div class="swiper-button">
        <button type="button" class="swiper-button-prev">
          <svg class="arrow-prev" width="32" height="32">
            <use href="./img/icons.svg#arrow-left"></use>
          </svg>
        </button>
        <button  type="button" class="swiper-button-next">
          <svg class="arrow-next" width="32" height="32">
            <use href="./img/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
   
  </div>
</section>
