<section class="footer-section container">
  <div class="footer-title-wrap">
    <ul class="footer-title-list">
      <li class="footer-title-list-it">
        <picture>
          <!-- Mobile-specific images -->
          <source
            srcset="
              ../img/footer/footer-mob@2x.png 2x,
              ../img/footer/footer-mob@1x.png 1x
            "
            media="(max-width: 768px)"
          />
          <img
            class="footer-img"
            src="../img/footer/footer-desk-tab@1x.png"
            srcset="
              ../img/footer/footer-desk-tab@2x.png 2x,
              ../img/footer/footer-desk-tab@1x.png 1x
            "
            alt="Photo of the developer Lloyd Jefferson"
            width="70"
            height="70"
          />
        </picture>
        <h2 class="footer-h2">
          Let’s <span class="footer-orange-h2">work</span>
        </h2>
      </li>
      <li><h2 class="footer-h2">together</h2></li>
    </ul>
  </div>
  <div class="footer-address">
    <address class="footer-contact-info">
      <ul class="footer-contact-info-list">
        <li class="footer-contact-info-it">
          <a href="mailto:lloydjefferson@gmail.com" class="footer-contact-link">
            lloydjefferson@gmail.com
          </a>
        </li>
        <li>
          <a href="tel:+3801111111111" class="footer-contact-link">
            +380 11 1111 11 11
          </a>
        </li>
      </ul>
    </address>
  </div>
</section>
