<section class="footer-section container">
  <div class="footer-title-wrap">
    <ul class="footer-title-list">
      <li class="footer-title-list-it">
        <picture>
          <!-- Mobile-specific images -->
          <source
            srcset="
              ./img/footer/footer-mob@2x.png 2x,
              ./img/footer/footer-mob@1x.png 1x
            "
            media="(max-width: 768px)"
          />
          <img
            class="footer-img"
            src="./img/footer/footer-desk-tab@1x.png"
            srcset="
              ./img/footer/footer-desk-tab@2x.png 2x,
              ./img/footer/footer-desk-tab@1x.png 1x
            "
            alt="Photo of the developer Lloyd Jefferson"
            width="70"
            height="70"
          />
        </picture>
        <h2 class="footer-h2">
          Let’s <span class="footer-orange-h2">work</span>
        </h2>
      </li>
      <li><h2 class="footer-h2">together</h2></li>
    </ul>
  </div>
  <div class="footer-form">
    <form action="#" method="post" class="footer-js-submit-form footer-f">
      <div class="footer-form-input-wrap">
        <label for="email" class="visually-hidden">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-input"
          autocomplete="off"
          placeholder="clients@gmail.com"
          required
        />
      </div>

      <div class="footer-form-input-wrap">
        <label for="comment" class="visually-hidden">Comment:</label>
        <input
          type="text"
          id="comment"
          name="comment"
          class="form-input"
          placeholder="comments"
        />
      </div>

      <div class="footer-form-input-wrap">
        <button class="footer-submit-button" type="submit">Send</button>
      </div>
    </form>
  </div>
  <div class="footer-address">
    <address class="footer-contact-info">
      <ul class="footer-contact-info-list">
        <li class="footer-contact-info-it">
          <a href="mailto:lloydjefferson@gmail.com" class="footer-contact-link">
            lloydjefferson@gmail.com
          </a>
        </li>
        <li class="footer-contact-info-it">
          <a href="tel:+3801111111111" class="footer-contact-link">
            +380 11 1111 11 11
          </a>
        </li>
      </ul>
    </address>
  </div>
</section>
