.about-me-section {
  padding-top: 64px;
  padding-bottom: 64px;
}
.content-box {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-bottom: 32px;
}

.orange-word {
  color: #ff7f08;
}
.gray-word {
  color: rgba(250, 250, 250, 0.4);
}

.intro-box {
  border-radius: 24px;
  background-color: #242527;
  padding: 32px 20px 20px 0;
}

.intro-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  width: auto;
  word-wrap: break-word;
  padding-bottom: 272px;
}
.about-img {
  border-radius: 24px;
  display: block;
  width: 100%;
  height: 500px;
}

.accordion-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  width: 100%;
  padding-left: 0px;
  padding-bottom: 12px;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none;
  fill: #fafafa;
}

.accordion-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.accordion-item {
  overflow: hidden;
}

.accordion-icon {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 10px;
  width: 40px;
  height: 40px;
}

.icon-arrow {
  stroke: #fafafa;
}

.accordion-item.open .accordion-icon svg {
  transform: rotate(180deg);
}

.accordion-content {
  max-height: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;
  gap: 10px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.accordion-article {
  padding-bottom: 32px;
  width: 100%;
}

.accordion-item.open .accordion-content {
  opacity: 1;
}
.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: rgba(250, 250, 250, 0.2);
  margin: 16px 0;
  border: none;
}
.ac-article {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;
  padding-bottom: 10px;
}

@media screen and (max-width: 375px) {
  .about-img {
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .about-me-section {
    padding-bottom: 96px;
  }

  .intro-box {
    padding: 48px 48px 0;
  }

  .intro-text {
    font-size: 38px;
    line-height: 105%;
    padding-bottom: 436px;
  }

  .about-img {
    min-height: 700px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me-section {
    padding-top: 96px;
    padding-bottom: 164px;
  }
  .content-box {
    flex-wrap: nowrap;
    padding-bottom: 96px;
  }

  .about-img {
    min-width: 680px;
  }

  .intro-text {
    font-weight: 500;
    font-size: 38px;
    line-height: 105%;
  }

  .accordion-content-right {
    display: flex;
    justify-content: flex-start;
    padding-left: 50%;
    flex-direction: column;
    padding-right: 311px;
  }
  .accordion-content {
    padding-right: 68px;
  }
  .ac-article {
    word-wrap: break-word;
  }
  .next-line {
    display: block;
  }
}

.swiper-about {
  position: relative;
  overflow: hidden;
  width: 260px;
  height: 130px;
}
.swiper-slide.about {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  border: 2px solid #444;
  transition: transform 0.3s, background 0.3s;
  min-height: 130px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;

  border-radius: 100%;
  stroke-width: 1px;
  stroke: rgba(250, 250, 250, 0.2);
}
.button-about-swiper {
  background-color: transparent;
  border: none;
}

.swiper-about-container {
  display: flex;
  margin-top: 32px;
}
.swiper-button-next-2 {
  margin-top: 51px;
  margin-left: 55px;
}
.swiper-slide.about.swiper-slide-active {
  background: #ff912c;
}
.arrow-next-about {
  stroke: #fafafa;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.arrow-next-about:hover {
  stroke: #ff7f08;
}
@media screen and (min-width: 768px) {
  .swiper-about {
    width: 600px;
    height: 200px;
  }
  .arrow-next-about {
    width: 40px;
    height: 40px;
    stroke: #fafafa;
  }
  .swiper-button-next-2 {
    margin-top: 80px;
    margin-left: 64px;
  }
  .swiper-slide.about {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
  }
}
@media screen and (min-width: 1440px) {
  .swiper-about {
    width: 1200px;
    height: 200px;
  }
  .swiper-about-container {
    padding: 0 32px;
  }
  .swiper-button-next-2 {
    margin-left: 72px;
  }
}
