.benefits-section {
  padding-bottom: 64px;
}
.benefits-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #fafafa66;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 32px;
}
.benefits-item {
  background-color: #242527;
  padding: 24px;
  border: none;
  border-radius: 20px;
}
.bft-icon {
  background-color: #ff7f08;
  padding: 12px;
  border-radius: 10px;
  border: none;
  height: 48px;
  width: 48px;
  margin-bottom: 64px;
}
.bft-svg {
  fill: #fafafa;
}
.bft-item-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}
.bft-item-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #fafafa99;
}

.bft-btn {
  border: 1px solid #fafafa33;
  border-radius: 60px;
  background-color: transparent;
  padding: 18px 36px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bft-link {
  color: #fafafa;
}
.bft-btn:hover,
.bft-btn:focus {
  border: 1px solid #fafafa;
}
@media screen and (min-width: 768px) {
  .benefits-section {
    padding-bottom: 96px;
  }
  .benefits-list {
    column-gap: 16px;
    row-gap: 16px;
    margin-bottom: 64px;
  }
  .benefits-item {
    width: calc((100% - 16px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .benefits-section {
    padding-bottom: 164px;
  }
  .benefits-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .benefits-div {
    width: 680px;
  }
}
