body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.covers-container {
  position: relative;
}
.marquee {
  position: absolute;
  right: -800px;
  left: 0;
  overflow: hidden;
}

.marquee__inner {
  /* height: 100vh; */
  height: 15vh;
  display: flex;
  transform: rotate(17deg);
}

.marquee__line {
  /* background-color: #ffdc00; */
  background-color: rgba();
  flex-shrink: 0;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 10);
  min-height: 162px;
  /* min-width: 282px; */
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}

.covers-section {
  display: block;
  min-height: 508px;
  padding-bottom: 64px;
  background-image: url(/img/covers/mob/bg-mob.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .covers-section {
    background-image: url(/img/covers/mob/bg-mob@2x.png);
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .covers-section {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .covers-section {
    background-image: url(/img/covers/tab/covers-bg@1x.png);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .covers-section {
      background-image: url(/img/covers/tab/covers-bg@2x.png);
    }
  }
}

@media screen and (min-width: 1440px) {
  .covers-section {
    background-image: url(/img/covers/desk/covers-bg-desk@1x.png);
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .covers-section {
      background-image: url(/img/covers/desk/covers-bg-desk@2x.png);
    }
  }
}
