.header-container {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 32px;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  gap: 143px;
  margin: 0 auto;
}

.menu-content {
  display: none;
}

.link-button {
  display: none;
}

.logo-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  width: 172px;
  height: 80px;
}


.icon-burger {
  display: block;
  stroke-width: 2px;
  stroke: #fafafa;

}

.burger-btn {
  background: transparent;
  border: none;
  padding: 0;

}


.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/hero/bg-hero-mob@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  /* position: relative; */
}

.mobile-menu-close {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 32px;
  right: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.menu-list-mobile {
  width: 67px;
  height: 112px;
  text-align: center;
  margin-top: 10px;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
  padding: 0;
  margin: 0;
}

.link-mobile {
  margin-top: 4px;
}

.link-menu-mobile {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;
}

.button-header-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 60px;
  padding: 14px 31px;
  width: 164px;
  height: 45px;
  border: none;
  background-color: #ff7f08;
  position: absolute;
  bottom: 78px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-header-mobile:hover {
  background-color: #f87903;
}

.button-header-mobile:focus {
  background-color: #f87903;
}



.text-btn-mob {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;

}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .burger-menu {
    display: none;
  }

  .menu-content {
    display: block;
  }

  .link-button {
    display: block;
  }

  .header-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: 151px;
    height: 80px;
  }

  .menu-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 67px;
    margin-top: 5px;
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    cursor: pointer;
    text-decoration-skip-ink: none;
    color: #fafafa;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-list {
    text-align: center;
    margin-top: 10px;
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
  }

  .link-desk {
    margin-top: 4px;
  }


  .link-menu {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    margin-top: 10px;
    color: #fafafa;
  }

  .text-btn {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    border: none;
    background-color: #ff7f08;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
  }

  .link-button:focus .text-btn {
    background-color: #f87903;
  }

  .link-button:hover .text-btn {
    background-color: #f87903;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    gap: 487px;
  }

  .mobile-menu {
    display: none;
  }
}