.header-container {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  /* z-index: 10; */
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  /* gap: 487px; */
  gap: 475px;
  padding-top: 32px;
}



.logo-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  width: 172px;
  height: 80px;
}


.nav-top {}

.menu-header {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  margin-top: 5px;
  width: 67px;
}

.menu-list {
  /* display: block; */
  text-align: center;
  margin-top: 10px;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

.link-menu {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  margin-top: 10px;
  /* text-decoration-skip-ink: none; */
  color: #fafafa;
}

.button-header {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 60px;
  padding: 18px 24px;
  width: 163px;
  height: 55px;
  border: none;
  background-color: #ff7f08;

}

.text-btn {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
}