.project-section {
  padding: 32px 16px;
}

.projects-title {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.projects-info {
  background-color: #fafafa;
  padding: 32px;
  border-radius: 24px 24px 0 0;
}

.program-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 96px;
}

.program-list-item {
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 13px 18px;
  letter-spacing: -0.02em;
}

.project-title {
  font-weight: 500;
  line-height: 117%;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}

.see-project-btn {
  border-radius: 60px;
  padding: 13px 32px;
  background-color: #ff7f08;
  letter-spacing: -0.02em;
  color: #fafafa;
  display: inline-block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.see-project-btn:hover,
.see-project-btn:focus {
  background-color: #f87903;
}

.projects-image {
  border-radius: 0 0 24px 24px;
  background-color: #242527;
  padding: 100px 16px;
}

.projects-buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 32px;
}

.button-prev,
.button-next {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  background-color: #1c1d20;
  stroke: #fafafa;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.disabled-button {
  border: 1px solid rgba(250, 250, 250, 0.2);
  stroke: #3b3b3b;
  cursor: default;
}

/* Media */

@media screen and (min-width: 768px) {
  .projects-section {
    padding: 48px 32px;
  }

  .projects-info {
    padding: 64px;
  }

  .program-list {
    margin-bottom: 164px;
  }

  .project-title {
    font-size: 44px;
    line-height: 100%;
    max-width: 494px;
  }

  .projects-image {
    padding: 120px 45px;
  }

  .projects-buttons {
    margin-top: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .projects-section {
    padding: 82px 32px;
  }

  .projects-wrapper {
    display: flex;
  }

  .program-list {
    margin-bottom: 223px;
  }

  .projects-info {
    border-radius: 24px 0 0 24px;
  }

  .projects-image {
    padding: 120px 37px;
    border-radius: 0 24px 24px 0;
  }
}
