.reviews-section {
  padding: 64px 0 32px 0;
}
.reviews-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.title-reviews {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
}
/* .reviews-block {
} */

.swiper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease;
}

.reviews-item.swiper-slide {
  flex-shrink: 0;
  /* width: 100%; */
  width: calc(100% / 4);
  text-align: start;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 20px;
    padding: 32px 24px;
    width: 343px;
    height: 343px;
    margin-bottom: 42px;
  }


.swiper-button-prev,
.swiper-button-next {
  /* position: absolute; */
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* .swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
} */
.swiper-button {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  align-items: center;
  background-color: #1c1d20;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  border: 1px solid #3b3b3b;
}

.swiper-button-prev:disabled,
.swiper-button-next:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.reviews-subtitle {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}
.avatar-image {
  margin-bottom: 32px;
}
.reviews-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  text-align: start;
}
.arrow-next {
  stroke: #fafafa;
}
.arrow-next:focus,
.arrow-next:hover {
  stroke: #3b3b3b;
}
.arrow-prev {
  stroke: #fafafa;
}
.arrow-prev:focus,
.arrow-prev:hover {
  stroke: #3b3b3b;
}

/* .reviews-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
.reviews-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  width: 343px;
  margin-bottom: 32px;
}
.reviews-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}
.reviews-subtitle {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.reviews-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}
.swiper-button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}
.swiper-button-next,
.swiper-button-prev {
  display: flex;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  align-items: center;
  background-color: #1c1d20;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  border: 1px solid #3b3b3b;
}
.arrow-next {
  stroke: #fafafa;
}
.arrow-next:focus,
.arrow-next:hover {
  stroke: #3b3b3b;
}
.arrow-prev {
  stroke: #fafafa;
}
.arrow-prev:focus,
.arrow-prev:hover {
  stroke: #3b3b3b;
} 
.swiper-button-prev.disabled,
.swiper-button-next.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
.reviews-error {
  text-align: center;
  font-size: 18px;
  color: #999;
} */
@media screen and (min-width: 768px) {
  .reviews-section {
    padding: 96px 0 48px 0;
  }
}
@media screen and (min-width: 1440px) {
  .reviews-container {
    max-width: 1440px;
    padding: 0 32px;
  }
  .reviews-section {
    padding: 164px 0 82px 0;
  }
  .reviews-list {
    flex-wrap: nowrap;
  }
  .reviews-item {
    width: 332px;
  }
  .reviews-text {
    font-size: 14px;
  }
  .swiper-button {
    gap: 10px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    padding: 18px;
    width: 68px;
    height: 68px;
  }
}
