.footer-section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 80px 0 168px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .footer-section {
    margin: 0 auto;
    padding: 80px 134px 168px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 100%;
  }
}

.footer-title-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* content is centered vertically */
  width: 100%;
  gap: 4px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-title-wrap {
    gap: 8px;
  }
}
.footer-img {
  display: inline-block;
}
.footer-h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}
.footer-orange-h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #ff7f08;
}

@media screen and (min-width: 768px) {
  .footer-h2 {
    font-size: 64px;
  }

  .footer-orange-h2 {
    font-size: 64px;
  }
}

.footer-title-list {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.footer-title-list-it {
  display: flex;
  gap: 20px;
  font-display: row;
  align-content: start;
  justify-content: centre;
}
.footer-form {
  display: flex;
  flex: 1;
  width: 100%;
}

form .footer-form-input-wrap:not(:last-child) {
  margin-bottom: 16px;
}
.footer-js-submit-form {
}
@media screen and (min-width: 768px) {
  .footer-section
    .footer-form.container
    form.footer-js-submit-form
    .footer-form-input-wrap {
    margin: 0;
  }
  .footer-section .footer-form.container form.footer-f {
    flex-direction: row;
    gap: 32px;
  }
  .footer-section .footer-form.container form.footer-f {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
.footer-f {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.footer-form-input-wrap {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  form .footer-form-input-wrap:not(:last-child) {
    width: 245px;
  }
  form .footer-form-input-wrap .form-input {
    width: 245px;
  }
}
@media screen and (min-width: 1440px) {
  form .footer-form-input-wrap:not(:last-child) {
    width: 390px;
  }
  form .footer-form-input-wrap .form-input {
    width: 390px;
  }
  .footer-form .footer-form-input-wrap:last-child {
    padding-left: 54px;
  }
}
.form-input {
  display: block;
  color: #fafafa;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #ccc; /* Thin line by default */
  outline: none;
  background: none;
  transition: border-bottom 0.3s ease-in-out;
  /* transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1) */
}

.form-input:focus {
  border-bottom: 4px solid #ff7f08;
}
.visually-hidden {
}

.footer-submit-button {
  background-color: #ff7f08;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: none;
  /* padding-top: 32px; */
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    /* Smooth scaling */ background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); /* Smooth color transition */
}

@media screen and (min-width: 768px) {
  .footer-submit-button {
    width: 150px;
    height: 150px;
    padding: 0;
  }
}

.footer-submit-button:hover,
.footer-submit-button:focus {
  transform: scale(1.05); /* Enlarge slightly on hover or focus */
  background-color: #3b3b3b; /* Darker background on hover or focus */
  outline: none; /* Remove default outline when in focus */
}

.footer-submit-button:active {
  transform: scale(0.95); /* Shrink slightly when clicked */
}

.footer-address {
  display: flex;
  flex-direction: row;
  align-items: center; /* content is centered vertically */
  width: 100%;
}

.footer-contact-info {
  display: flex;
  align-self: flex-start;
}
.footer-contact-info-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-display: auto;
  gap: 8px;
  padding: 0;
  margin: 0;
}
.footer-contact-info-it {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer-contact-link {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  letter-spacing: -0.02em;
  color: #fafafa;
  display: block;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .footer-contact-link {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 18px 32px;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    letter-spacing: -0.02em;
    color: #fafafa;
    display: block;
    white-space: nowrap;
  }
}

.check-succ {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #3cbc81;
  margin-top: 4px;
}
.check-inv {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #e74a3b;
  margin-top: 4px;
}
/* #region modal*/
.modal-overlay {
  background-color: #1c1d20;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.modal {
  background-color: #1c1d20;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 343px;
  min-height: 276px;
  transform: translate(-50%, -50%);
  border: 1px solid #fafafa1a;
  padding: 64px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}

.close-modal {
  width: 22px;
  height: 22px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #1c1d20;
}
.svg-close {
  fill: #fafafa;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover .svg-close,
.close-modal:focus .svg-close {
  fill: #fafafa;
}

.response-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa;
}
.response-message {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa99;
}
/* #endregion modal*/
